@keyframes floating {
    0% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, -20%, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes floatingShadow {
    0% {
      transform: scale(1.15);
    }
    50% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1.15);
    }
  }

  @font-face{
      font-family: 'circular-book';
      src: url('./components/fonts/CircularStd-Book.woff');
  }
  body {
    background: #f7f7f7;
  }
  
  .container {
    font-family: 'circular-book';
    color: #5b5b5b;
    background: #fff;
    position: relative;
    height: 100vh;
    width:100vw;
    text-align: center;
    font-size: 16px;
  }
  .container h1 {
    font-size: 32px;
    margin-top: 32px;
  }
  
  .boo-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 64px;
    padding-bottom: 64px;
    
  }
  
  .boo {
    width: 160px;
    height: 160px;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #5b5b5b;
    border-bottom: 0;
    overflow: hidden;
    border-radius: 80px 80px 0 0;
    box-shadow: -16px 0 0 2px rgba(150, 230, 230, 0.5) inset;
    position: relative;
    padding-bottom: 32px;
    animation: floating 2s ease-in-out infinite;
  }
  .boo::after {
    content: '';
    display: block;
    position: absolute;
    left: -18.8235294118px;
    bottom: -8.3116883117px;
    width: calc(100% + 32px);
    height: 32px;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    background-position: left bottom;
    background-image: linear-gradient(-45deg, #fff 16px, transparent 0), linear-gradient(45deg, #fff 16px, transparent 0), linear-gradient(-45deg, #5b5b5b 18.8235294118px, transparent 0), linear-gradient(45deg, #5b5b5b 18.8235294118px, transparent 0);
  }
  .boo .face {
    width: 28px;
    height: 3.2px;
    border-radius: 5px;
    background-color: #5b5b5b;
    position: absolute;
    left: 50%;
    bottom: 56px;
    transform: translateX(-50%);
  }
  .boo .face::before, .boo .face::after {
    content: '';
    display: block;
    width: 16px;
    height: 28px;
    background-color: #5b5b5b;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
  }
  .boo .face::before {
    left: -24px;
  }
  .boo .face::after {
    right: -24px;
  }
  
  .shadow {
    width: 128px;
    height: 16px;
    background-color: rgba(200, 200, 200, 0.75);
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    animation: floatingShadow 2s ease-in-out infinite;
  }
  
  #Oops{
    font-size:80px;
  }
  #cannotFindPage{
    font-size:30px;
  }
  
  .textErrorerror{
    font-size:12vw;
    color: #f7e7e7;
    top:5%;
    right:5%;
    position: absolute;
    animation: textAppearError 2s ease-in-out infinite;
  }
  
  .textError404{
    font-size:15vw;
    color: #f7e7e7;
    top:0;
    left:5%;
    position: absolute;
    animation: textAppearError 2s ease-in-out infinite;
  }
  
  @keyframes textAppearError {
    0% {
      color:#fff;
    }
    50% {
      color:#f7e7e7
    }
    100% {
      color:#fff;
    }
  }
  